.cabinet {
  @media (min-width: 601px) {
    display: flex;
  }
  // .cabinet__user

  &__user {
    max-width: 28.75rem;
    width: 100%;
    margin-right: 1rem;
    @media (max-width: 1440px) {
      max-width: 20rem;
    }
    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  // .cabinet__photo

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5625rem;
  }

  // .cabinet__img

  &__img {
    display: block;
    border-radius: 100%;
    max-width: 12.5rem;
    width: 100%;
  }

  // .cabinet__upload

  &__upload {
    margin-top: 1.875rem;
    padding: 0.625rem 3.125rem;
    @media (max-width: 1280px) {
      padding: 0.625rem 1rem;
    }
  }

  // .cabinet__label

  &__label {
    display: block;
    & + & {
      margin-top: 1rem;
    }
  }

  // .cabinet__label-title

  &__label-title {
    cursor: pointer;
    display: block;

    font-size: var(--small-text-size);
  }

  // .cabinet__info

  &__info {
    flex: 1;
  }

  // .cabinet__head-buttons

  &__head-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    @media (max-width: 600px) {
      margin-top: 1rem;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }

  // .cabinet__head-button

  &__head-button {
    padding: 0.625rem 3.4375rem;
    @media (max-width: 1280px) {
      padding: 0.625rem 1rem;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 1.5625rem;
      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  // .cabinet__box

  &__box {
    padding: 1rem;
    border-radius: var(--default-radius);
    border: var(--1px) solid var(--white);
    background: var(--white);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    &_user {
      height: 100%;
    }
  }

  // .cabinet__title

  &__title {
    font-weight: 600;
    padding-bottom: 0.625rem;
    margin-bottom: 1rem;
    border-bottom: var(--1px) solid var(--gray);
  }

  // .cabinet__input

  &__input {
    display: flex;
    align-items: center;
    @media (max-width: 480px) {
      display: block;
    }
    & + & {
      margin-top: 1.125rem;
    }
  }

  // .cabinet__input-text

  &__input-text {
    cursor: pointer;
    font-size: 0.875rem;
    min-width: 13.5rem;
    margin-right: 0.875rem;

    // .cabinet__input-text_mobile-hide

    &_mobile-hide {
      @media (max-width: 1440px) {
        display: none;
      }
    }
  }

  // .cabinet__text

  &__text {
    margin-bottom: 1.125rem;

    font-size: var(--small-text-size);
    font-weight: 500;
  }

  // .cabinet__docs

  &__docs {
    display: inline-block;
    margin-top: 1rem;
    max-width: 38.125rem;
    width: 100%;
  }
  // .cabinet__doc

  &__doc {
    display: flex;
    align-items: center;
    @media (max-width: 480px) {
      display: block;
    }
    & + & {
      margin-top: 1rem;
    }
  }

  // .cabinet__doc-button

  &__doc-button {
    padding: 0.3125rem 1rem;
    margin-right: 1rem;
  }

  // .cabinet__doc-descr

  &__doc-descr {
    font-size: var(--small-text-size);
    font-weight: 500;
    @media (max-width: 480px) {
      margin-top: 0.5rem;
    }
  }
}
