.simple-select {
  min-width: 7.5rem;
  min-height: auto;
  &.multiselect {
    &.multiselect--active {
      .multiselect__tags {
        border-radius: var(--default-radius);
      }
      .multiselect__placeholder {
        display: block;
      }
    }
  }
  .multiselect__placeholder {
    padding: 0;
    margin: 0;
  }
  .multiselect__select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    top: 0;
    right: 0;
    line-height: 1;
    &::before {
      border: none;
      background-image: url("./images/icons/select-arrow.svg");
      width: 1.375rem;
      height: 1.375rem;
      display: block;
      margin: 0;
      top: auto;
    }
  }
  .multiselect__tags {
    display: flex;
    align-items: center;
    border-radius: var(--default-radius);
    border: var(--1px) solid var(--gray);
    padding: 0.5rem 2rem 0.5rem 0.625rem;
    min-height: 2rem;
  }
  .multiselect__input,
  .multiselect__single {
    margin: 0;
    padding: 0;
    min-height: auto;
    line-height: 1;
  }
  .multiselect__content-wrapper {
    border-radius: var(--default-radius);
    margin-top: 0.625rem;
  }
  .multiselect__option {
    padding: 0.625rem 1.5rem;
    min-height: auto;
  }
  .multiselect__option--highlight {
    background-color: var(--main-yellow-color);
  }
  .multiselect__option--selected {
    background-color: var(--main-dark-gray-color-2);
  }
  .multiselect__placeholder,
  .multiselect__input,
  .multiselect__single,
  .multiselect__option {
    color: var(--main-blue-color);
    font-size: var(--small-text-size);
    font-weight: 500;
    line-height: 1;
  }
}
