.hero {
  filter: drop-shadow(0px 90px 85px rgba(211, 221, 255, 0.55));
  border-radius: 0 0 10rem 10rem;
  background-color: var(--white);

  @media (max-width: 767px) {
    border-radius: 0 0 5rem 5rem;
  }

  @media (max-width: 480px) {
    border-radius: 0 0 2rem 2rem;
  }

  // .hero__decorations

  &__decorations {
    position: absolute;
    width: 100%;
  }

  // .hero__decorate

  &__decorate {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      width: 100%;
    }

    // .hero__decorate_1

    &_1 {
    }

    // .hero__decorate_2

    &_2 {
    }
  }

  // .hero__decorate-img

  &__decorate-img {
    display: block;
    @media (max-width: 1280px) {
      max-width: 100%;
    }
  }

  // .hero__wrapper

  &__wrapper {
    position: relative;
    display: flex;
    padding: 7.5rem 0;
    @media (max-width: 767px) {
      display: block;
      padding: 5rem 0;
    }
    @media (max-width: 480px) {
      padding: 5rem 0 2rem 0;
    }
  }

  // .hero__content

  &__content {
    max-width: 54%;
    @media (max-width: 1024px) {
      max-width: 63%;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  // .hero__title

  &__title {
    margin: 0;
    color: var(--main-blue-color);
    font-size: 2.625rem;
    font-weight: 700;
    margin-bottom: 2rem;
    @media (max-width: 1024px) {
      font-size: 2rem;
    }
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
    @media (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  // .hero__text

  &__text {
    margin: 0;
    color: var(--main-blue-color);
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 35rem;
    padding-right: 5rem;
    @media (max-width: 767px) {
      padding-right: 0;
      max-width: 100%;
      font-size: 1rem;
    }
  }

  // .hero__points

  &__points {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    @media (max-width: 767px) {
      margin: 2rem 0;
    }
    @media (max-width: 480px) {
      display: block;
    }
  }

  // .hero__point

  &__point {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 4rem;
      @media (max-width: 767px) {
        margin-right: 1rem;
      }
      @media (max-width: 480px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  // .hero__point-img

  &__point-img {
    margin-right: 1rem;
  }

  // .hero__point-text

  &__point-text {
  }

  // .hero__point-head

  &__point-head {
  }

  // .hero__point-footer

  &__point-footer {
  }

  // .hero__button

  &__button {
  }

  // .hero__btn

  &__btn {
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
    }
  }

  // .hero__picture

  &__picture {
    margin-left: -7%;
    @media (max-width: 1100px) {
      margin-right: -7%;
    }
    @media (max-width: 767px) {
      margin-left: 12%;
      margin-top: 4rem;
      display: none;
    }
  }

  // .hero__inner

  &__inner {
  }

  // .hero__img

  &__img {
    max-width: 100%;
  }
}
